.banner {
  background-color: $primary;
  height: 100vh;

  &__intro {
    color: $white;
    text-align: center;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
      font-size: $heading-regular;
      font-weight: 600;
    }

    &__subtext {
      font-size: $font-large;
      padding-top: 2rem;
    }
  }
}

@include media-breakpoint-up(md) {
  .banner {
    &__intro {
      &__text {
        font-size: $heading-large;
      }
      &__subtext {
        font-size: $heading-medium;
      }
    }
  }
}
