.banner {
  background-color: $primary;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  &__intro {
    color: $white;
    text-align: center;

    &__text {
      font-size: $heading-regular;
      font-weight: 600;
    }

    &__subtext {
      font-size: $font-large;
    }
  }
}


@include media-breakpoint-up(md) {
  .banner {
    &__intro {
      &__text {
        font-size: $heading-large;
      }
      &__subtext {
        font-size: $heading-medium;
      }
    }
  }
}
