.banner {
  background-color: $primary;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  &__intro {
    color: $white;
    text-align: center;

    &__text {
      font-size: $heading-large;
      font-weight: 600;
    }

    &__subtext {
      font-size: $heading-medium;
    }
  }
}
