.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $secondary;
  height: 5em;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 4px 2px -2px $secondary;

  &__intro {
    font-size: $font-large;
    font-weight: 600;
    color: $white;
  }
}

.footer {
  background-color: $secondary;
  padding: 2rem 0;
  color: $white;
}

/** custom buttons */
.cbtn {
  padding: 1rem;
  font-size: $font-medium;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: $white;
    background-color: $selected;
    cursor: pointer;
  }

  &--primary {
    background-color: $btn-primary;
    color: $white;
    border-radius: 10px;
  }

  &--secondary {
    background-color: $btn-secondary;
    color: $white;
    border-radius: 10px;
  }

  &--tertiary {
    background-color: $gray;
  }
}

@include media-breakpoint-up(md) {
  .header__intro {
    $font-size: $heading-regular;
  }
}
