.testimonial {
  padding: 2rem;

  &--order2 {
    background-color: $primary;
    color: $white;
  }

  &__container {
    text-align: center;

    &__textContent {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;

      &__name {
        font-size: $font-large;
        font-weight: 600;
      }

      &__desc {
        font-style: italic;

        img {
          margin: 0 0.5rem;
        }
      }
    }
  }
}
