.testimonial {
    padding: 1rem 2rem;

    // &--order2 {
    //     background-color: blue;
    // }

    &__container {
        text-align: center;

        &__name {
            font-size: $font-large;
            font-weight: 600;
        }
    }
}
